.page {

  background-color: #43a05d;
  height: 700px;
  width: 100%;
}

.board {
  height: 306px;
  margin-top: 30px;
  position: absolute;
  width: 408px;
}

.row {
  height: 102px;
  position: absolute;
  width: 408px;
}

.row:nth-of-type(0n+1) {
  top: 0;
}

.row:nth-of-type(0n+2) {
  top: 101px;
}

.row:nth-of-type(0n+3) {
  top: 202px;
}

.picture,
.celd {
  height: 100px;
  position: absolute;
  top: 0;
  width: 100px;
}

.celd {
  border: 1px solid #000;
  background-color: #ddd;
  z-index: 0;
}

.picture {
  border: 1px solid #777;
  transition: left .3s;
  z-index: -2;
}

.celd1,
.celd4,
.celd7 {
  left: 0;
}

.celd2,
.celd5,
.celd8 {
  left: 101px;
}

.celd3,
.celd6,
.celd9 {
  left: 202px;
}

.pic1,
.pic4,
.pic7 {
  left: 101px;
}

.pic2,
.pic5,
.pic8 {
  left: 202px;
}

.pic3,
.pic6,
.pic9 {
  left: 303px;
}

.picture.right {
  z-index: 0;
}

.pic1.right,
.pic4.right,
.pic7.right {
  left: 0;
}

.pic2.right,
.pic5.right,
.pic8.right {
  left: 101px;
}

.pic3.right,
.pic6.right,
.pic9.right {
  left: 202px;
}

.celd_empty {
  background-color: #43a05d;
  border: 1px solid #43a05d;
  left: 304px;
}


.modal-dialog {
  background-color: #ead09a ;
  border-radius: 5px;
  display: none;
  height: auto;
  margin: 0;
  width: 300px;
}

.modal-dialog .close-button,
.modal-dialog .share-google-plus-button {
  background-color: #43a05d;
  border-radius: 3px;
  color: #065110;
  cursor: pointer;
  font-weight: bold;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 35%;
}

.modal-dialog .close-button:hover,
.modal-dialog .share-google-plus-button:hover {
  background-color: #065110;
  color: #19b6ea;
}

.modal-dialog .image,
.modal-dialog .image {
  text-align: center;
}

.modal-dialog img {
  height: 200px;
  width: 150px;
}

.share-google-plus-button {

}
