.page {

  background-color: #C1A8A6;
  height: 700px;
  width: 100%;
}

.board {
  height: 306px;
  margin-top: 30px;
  position: absolute;
  width: 408px;
}

.row {
  height: 102px;
  position: absolute;
  width: 408px;
}

.row:nth-of-type(0n+1) {
  top: 0;
}

.row:nth-of-type(0n+2) {
  top: 101px;
}

.row:nth-of-type(0n+3) {
  top: 202px;
}

.picture,
.celd {
  height: 100px;
  position: absolute;
  top: 0;
  width: 100px;
}

.celd {
  border: 1px solid #000;
  background-color: #ddd;
  z-index: 0;
}

.picture {
  border: 1px solid #777;
  transition: left .3s;
  z-index: -2;
}

.celd1,
.celd4,
.celd7 {
  left: 0;
}

.celd2,
.celd5,
.celd8 {
  left: 101px;
}

.celd3,
.celd6,
.celd9 {
  left: 202px;
}

.pic1,
.pic4,
.pic7 {
  left: 101px;
}

.pic2,
.pic5,
.pic8 {
  left: 202px;
}

.pic3,
.pic6,
.pic9 {
  left: 303px;
}

.picture.right {
  z-index: 0;
}

.pic1.right,
.pic4.right,
.pic7.right {
  left: 0;
}

.pic2.right,
.pic5.right,
.pic8.right {
  left: 101px;
}

.pic3.right,
.pic6.right,
.pic9.right {
  left: 202px;
}

.celd_empty {
  background-color: #C1A8A6;
  border: 1px solid #C1A8A6;
  left: 304px;
}


.modal-dialog {
  display: none;
}

#modal-dialog-start,
#modal-dialog-end {
  background-color: #C1A8A6 ;
  border-radius: 5px;
  display: none;
  height: 250px;
  margin: 0;
  width: 60%;
}

#modal-dialog-start .close-button {
  background-color: #F94940;
  border-radius: 3px;
  color: #560A06;
  cursor: pointer;
  font-weight: bold;
  height: auto;
  padding: 10px;
  text-align: center;
  width: 150px;
}

#modal-dialog-start .close-button:hover {
  background-color: #560A06;
  color: #F94940;
}

#modal-dialog-start .image,
#modal-dialog-end .image {
  text-align: center;
}

#modal-dialog-start img {
  height: 200px;
  width: 150px;
}

#modal-dialog-end img {
  height: 200px;
  width: 150px;
}
